<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title><%= title %></title>
        <link rel="stylesheet" href="css/jquery-ui.css" />
        <script src="js/jquery/jquery.js"></script>
        <script src="js/jquery/jquery-ui.js"></script>
        <script src="js/controller/dialog.js"></script>
    </head>
    <body>
        <br>
        <div id="mypopemail" title="Send Email" style="background:white;" >    
            <br>
            <form id="formsendmail" action="/sendmail" method="POST" enctype="multipart/form-data">
                เรื่อง:<br>
                <input id="nametopic" type="text" name="name"><br><br>
                E-mail ผู้ส่ง:<br>
                <input id="myemail" type="email" name="mymail" value=<%= myemail %> disabled><br><br>
                E-mail ผู้รับ:<br>
                <input id="sendmail" type="email" name="mail"><br><br>
                ข้อความ:<br>
                <textarea id="txtArea" name="comment" rows="10" cols="50"></textarea><br><br>
                แนบไฟล์:
                <input type="file" name="file" id="uploadfile" onchange="readURL(this);">
                <img id="preview" style="width:20px;height:20px;display:none"/><br><br>
                <input id="send" type="button" value="Send" onclick="gosendmail()">
                <input type="reset" value="Reset">
            </form>
            <div id="progressbar" onload="probar()" style="display:none">กรุณารอสักครู่.....</div>
        </div>
    </body>
</html>