<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= title %></title>

<!-- Jquery -------------------------------->
<script src="js/jquery/jquery.js"></script>
<script src="js/jquery/jquery.PrintArea.js"></script>
<!-- controller -------------------------------->
<link rel="stylesheet" href="/css/cssMainStyle.css"  />
<script src="js/controller/viewstrackTable.js"></script>
<script src="js/controller/layoutControl.js"></script>
<script src="js/controller/viewuserall.js"></script>
<script src="js/controller/setpoi.js"></script>
<script src="js/googlemap/myapimap.js"></script>
<script src="js/iconselect/jquery.ddslick.min.js"></script>
<!-- Bootstrap ---------------------------------->
<link rel="stylesheet" href="css/bootstrap/bootstrap.css" />
<link rel="stylesheet" href="css/bootstrap/bootstrap-responsive.css" />
<script src="js/bootstrap/bootstrap-transition.js"></script>
<script src="js/bootstrap/bootstrap-alert.js"></script>
<script src="js/bootstrap/bootstrap-modal.js"></script>
<script src="js/bootstrap/bootstrap-dropdown.js"></script>
<script src="js/bootstrap/bootstrap-scrollspy.js"></script>
<script src="js/bootstrap/bootstrap-tab.js"></script>
<script src="js/bootstrap/bootstrap-tooltip.js"></script>
<script src="js/bootstrap/bootstrap-popover.js"></script>
<script src="js/bootstrap/bootstrap-button.js"></script>
<script src="js/bootstrap/bootstrap-collapse.js"></script>
<script src="js/bootstrap/bootstrap-carousel.js"></script>
<script src="js/bootstrap/bootstrap-typeahead.js"></script>
<script src="js/bootstrap/bootstrap-affix.js"></script>
<script src="js/bootstrap/application.js"></script> 
<script src="js/holder/holder.js"></script>
<script src="js/google-code-prettify/prettify.js"></script>
<!-- Pirobox -------------------------------->
<link rel="stylesheet" href="css/pirobox/style.css" />
<script src="js/jquery/jquery-ui-1.8.2.custom.min.js"></script>
<script src="js/pirobox/pirobox_extended.js"></script>

<script type="text/javascript">
	$(document).ready(function() {
		$().piroBox_ext({
		piro_speed : 700,
			bg_alpha : 0.5,
			piro_scroll : true // pirobox always positioned at the center of the page
		});
	});
	function printhistogroup(){
        $('#map-canvas,#idhistrogroup').printArea();
	}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= mapkey %>"></script>
<script type="text/javascript">
	google.maps.event.addDomListener(window, 'load', initialize);
</script>

</head>
<body>
<div class="mainRoot">
	<div class="mainLogo"></div>   
	<!-- Header Section ------------------------------------------------------------------------>
	<div class="mainHeader">
		<div class="menuBar">
			<div class="menuBar_L">Real-Time Tracking System <span id="timeserver" style="color: #ddd;"></span></div>
			<div class="menuBar_R">
				<!-- System Main Menu For Special User -------------------------------------------------------->
				<ul class="userS" style="display: none;">
					<li class="mm1"><a href="/main">ติดตามรถ</a></li>
					<li class="mm2"><a href="#">ระบบบริหาร</a></li>
					<li class="mm3"><a href="#">ระบบรายงาน</a></li>
					<li class="mm4"><a href="#">ระบบตั้งค่า</a></li>
					<li class="mm5"><a href="/logout">ออกจากระบบ</a></li>
				</ul>
				<!-- System Main Menu For Normal User -------------------------------------------------------->
				<ul class="userN" style="display: none;">
					<li class="mm1"><a href="#">หน้าแรก</a></li>
					<li class="mm2"><a href="#">ติดตามรถ</a></li>
					<li class="mm3"><a href="#">ดูย้อนหลัง</a></li>
					<li class="mm4"><a href="#">รายงาน</a></li>
					<li class="mm5"><a href="#" onclick="loadsetpoi()">จุดสนใจ</a></li>
					<li class="mm6"><a href="#">ตั้งค่า</a></li>
					<li class="mm7"><a href="/logout">ออกจากระบบ</a></li>
				</ul>
			</div>
		</div>
		<div class="toolBar">
			<!--  User Info ------------------------------------------------------------>		
			<div class="toolBar_L">  <%= username %> </div>
			
			<div class="toolBar_R">
				<!-- Search Box -------------------------------------------------------------->
				<input type="text" class="searchBox" value="ค้นหา..." />
				<a href="#" class="searchBut"></a>
			</div>
			
			<div class="toolBar_M">
				<!-- Tool Bar Icon ------------------------------------------------------------>
				<ul class="userS">
					<li class="tm1"><a href="#"></a></li>
					<li class="tm2"><a href="#"></a></li>
					<li class="tm3"><a href="#"></a></li>
					<li class="tm4"><a href="/sendmail"  rel="iframe-450-550"  class="pirobox_gall1"></a></li>
					<li class="tm5"><a href="#"></a></li>
					<li class="tm6"><a href="#"></a></li>
					<li class="tm7"><a href="#"></a></li>
					<li class="tm8"><a href="#"></a></li>
					<li class="tm9"><a href="#"></a></li>
				</ul>	
			</div>
		</div>
	</div>
	
	<div class="mainHeaderShadow"></div>
	
	<!-- Sub Menu Section ------------------------------------------------------------------------------>
	<div class="subMenuRoot userS">
		<div class="subMenu sm2" style="display: none;">
			<div class="container">
				<div class="table">
					<div class="cell">
						<ul>
							<li class="head">ระบบยานพาหนะ</li>
							<li><a href="#">ดูเส้นทางย้อนหลัง</a></li>
							<li><a href="#">กำหนดเส้นทาง</a></li>
							<li><a href="#">กำหนดพื้นที่ห้ามเข้า</a></li>
							<li><a href="#">กำหนดพื้นที่ห้ามออก</a></li>
						</ul>
					</div>
					<div class="cell">
						<ul>
							<li class="head">ระบบบริหารสถานี</li>
							<li><a href="#">สร้างสถานี</a></li>
							<li><a href="#">เช็ครถในสถานี</a></li>
							<li><a href="#">เช็ครถนอกสถานี</a></li>
							<li><a href="#">กำหนดจุดสนใจ</a></li>
						</ul>
					</div>
					<div class="cell">
						<ul>
							<li class="head">ระบบบริหารพนักงาน</li>
							<li><a href="#">รายละเอียดพนักงาน</a></li>
						</ul>
					</div>
					<div class="cell">
						<ul>
							<li class="head">ระบบ Service</li>
							<li><a href="#">พรบ, ภาษี, ประกันภัย</a></li>
							<li><a href="#">ประวัติการซ่อมบำรุง</a></li>
							<li><a href="#">ประวัติอุบัติเหตุ</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="shade"></div>		
		</div>
		<div class="subMenu sm3" style="display: none;">
			<div class="container">
				<div class="table">
					<div class="cell">
						<ul>
							<li class="head">รายงานสถานะ</li>
							<li><a href="#">สถานะรถวิ่ง</a></li>
							<li><a href="#">สถานะรถเดินเบา</a></li>
							<li><a href="#">สถานะจอดรถดับเครื่อง</a></li>
							<li><a href="#">สถานะ Sensor</a></li>
							<li><a href="#">สถานะระดับน้ำมัน</a></li>
							<li><a href="#">สถานะถอดลูกพ่วง</a></li>
							<li><a href="#">สถานะอุณภูมิ</a></li>
							<li><a href="#">รายงาน Sensor</a></li>
							<li><a href="#">สรุปการใช้รถ</a></li>
						</ul>
					</div>
					<div class="cell">
						<ul>
							<li class="head">รายงานกรมการขนส่ง</li>
							<li><a href="#">ความเร็วเกินกำหนด</a></li>
							<li><a href="#">ขับรถโดยไม่รูดบัตร</a></li>
							<li><a href="#">ใช้บัตรผิดประเภท</a></li>
							<li><a href="#">สถานะกระทำความผิด</a></li>
							<li><a href="#">อุปกรณ์มีปัญหา</a></li>
							<li><a href="#">สรุปข้อมูลกรมการขนส่ง</a></li>
						</ul>
					</div>
					<div class="cell">
						<ul>
							<li class="head">รายงานการเข้าออกสถานี</li>
							<li><a href="#">เวลารถเข้าสถานี</a></li>
							<li><a href="#">เวลารถออกสถานี</a></li>
							<li><a href="#">สถานะออกนอกเส้นทาง</a></li>
							<li><a href="#">สรุปสถานะเข้าออกสถานี</a></li>
						</ul>
					</div>
					<div class="cell">
						<ul>
							<li class="head">รายงานพื้นที่ห้ามเข้า</li>
							<li><a href="#">เวลาเข้าพื้นที่ห้ามเข้า</a></li>
							<li><a href="#">เวลาออกพื้นที่ห้ามเข้า</a></li>
							<li><a href="#">สรุปการเข้าออก</a></li>
						</ul>
					</div>
					<div class="cell">
						<ul>
							<li class="head">รายงานห้ามออกพื้นที่</li>
							<li><a href="#">เวลาออกพื้นที่ห้ามออก</a></li>
							<li><a href="#">เวลาเข้าพื้นที่ห้ามออก</a></li>
							<li><a href="#">สรุปการเข้าออก</a></li>
						</ul>
					</div>
					<div class="cell">
						<ul>
							<li class="head">สถานะกราฟ</li>
							<li><a href="#">สถานะกราฟความเร็ว</a></li>
							<li><a href="#">สถานะกราฟน้ำมัน</a></li>
							<li><a href="#">สถานะกราฟอุณหภูมิ</a></li>
							<li><a href="#">สรุปรายงานกราฟ</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="shade"></div>					
		</div>
	</div>
	
	
	<!-- Body Section ---------------------------------------------------------------------------->
	<div class="mainBody">
			<!-- Map Viewer Section ---------------------------------------------------------------------------->
			<div class="panelMap" id="map-canvas" onload="initialize()">
            	
		    </div>

			
			<!-- Resizer Bar Section ------------------------------------------------------------------------>
			<div class="panelResizer">
				<div class="shade"></div>
			</div>

			<!-- Tool Panel Section ---------------------------------------------------------------------------->
			<div class="panelTool">
				<div class="userN">
					<!-- Home ---------------------------------------------------------------------------->
					<div class="toolRoot toolHome">
						<div class="head"></div>

						<!-- Box of news -------------------------------------------------------------------->
						<% for (var i = 0; i < newsdata.length; i++) { 
    						%>
    						<div class="newsBox">
								<div class="newsBox_Head">
									<div class="newsBox_Title"><%= toppic[i] %></div>
									<div class="newsBox_Time"><%= timeStamp[i] %></div>
								</div>
								<div class="newsBox_Content">
									<%
										if(sdatenextday[i] != ""){
											%><img src=<%= sdatenextday[i] %> /> <%
										}
									%>
									<p><%= txtMessage[i] %></p>
									<% 
										if(picture[i] != null){
											for(var j = 0; j < picture[i].length; j++){ 
											%>
												<p>
													<a href="data:image/jpeg;base64,<%= picture[i][j] %>" rel="gallery"  class="pirobox_gall" title=<%= toppic[i] %>>
														<img src="data:image/jpeg;base64,<%= picture[i][j] %>" width="50"/>
													</a>
												</p>
											<%
											}
										}
									%>
								</div>
							<div class="newsBox_Writer"><%= post[i] %></div>
							</div>
							<%	
						} %>
						<input type="text" id="allnewsnum" style="display:none" value=<%= newsdata.length %> />
					</div>
					
					<!-- Tracking ---------------------------------------------------------------------------->
					<div class="toolRoot toolTrack" style="display: none;">
						<div class="head"></div>
						
						<!-- Tracking Group ------------------------------------------------------------------>
						<div class="trackGroupBox">
								<div class="trackGroupBox_Label">เลือกกลุ่มยานพาหนะ</div>					
							<div class="trackGroupBox_Drop">
								<select>
									<option value="">ทั้งหมด</option>
								</select>
							</div>
						</div>
						
						<!-- Tracking List ---------------------------------------------------------------->
						<div class="trackTableOuter">
							<%- include tabletracking.ejs %> 
						</div>
					</div>
					
					<!-- History -------------------------------------------------------------------------->
					<div class="toolRoot toolHistory" style="display: none;" id="idhistrogroup">
						<div class="head"></div>
						<!-- History Group ---------------------------------------------------------------->
						<div class="histoGroupBox">
								<div class="histoGroupBox_Label">เลือกกลุ่มยานพาหนะ</div>					
							<div class="histoGroupBox_Drop">
								<select>
									<option value="">ทั้งหมด</option>
								</select>
							</div>
						</div>
						<div class="histoGroupBox">
								<div class="histoGroupBox_Label">เลือกยานพาหนะ</div>					
							<div class="histoGroupBox_Drop">
								<select>
									<option value="">คันที่ 1</option>
									<option value="">คันที่ 2</option>
									<option value="">คันที่ 3</option>
									<option value="">คันที่ 4</option>
								</select>
							</div>
						</div>
						<div class="histoGroupBox">
							<div class="histoGroupBox_Label">เริ่มจากวันที่</div>
							<div class="histoGroupBox_Label"><input class="Date" type="text" value="1/1/2557"  /></div>
							<div class="histoGroupBox_Label" style="width: 30px;">เวลา</div>
							<div class="histoGroupBox_Label"><input class="Time" type="text" value="00:00"  /></div>
						</div>
						<div class="histoGroupBox">
							<div class="histoGroupBox_Label">จนถึงวันที่</div>
							<div class="histoGroupBox_Label"><input class="Date" type="text" value="1/1/2557"  /></div>
							<div class="histoGroupBox_Label" style="width: 30px;">เวลา</div>
							<div class="histoGroupBox_Label"><input class="Time" type="text" value="00:00"  /></div>
						</div>
						<div align="center">
							<input type="button" value="Go!"  />
							<input type="button" value="Print" onclick="printhistogroup()"/>
						</div>
				
						<br clear="all" />
				
						<!-- Tracking List ---------------------------------------------------------------->
						<div class="trackTableOuter">
							<div class="trackTable" style="min-width: 320px;">
								<div class="trackTable_Head">
									<div class="trackTable_Cell his1">เวลา</div>
									<div class="trackTable_Cell his2">สถานะ</div>
									<div class="trackTable_Cell his3">ความเร็ว</div>
									<div class="trackTable_Cell his4">น้ำมัน</div>
									<div class="trackTable_Cell his5">อุณหภูมิ</div>
									<div class="trackTable_Cell his6">Sensor</div>
								</div>
								<div class="trackTable_Row">
									<div class="trackTable_Cell his1">00:00:00</div>
									<div class="trackTable_Cell his2">xx</div>
									<div class="trackTable_Cell his3">00</div>
									<div class="trackTable_Cell his4">00.00</div>
									<div class="trackTable_Cell his5">25 'C</div>
									<div class="trackTable_Cell his6">Sensor</div>
								</div>
								<div class="trackTable_Row">
									<div class="trackTable_Cell his1">00:00:00</div>
									<div class="trackTable_Cell his2">xx</div>
									<div class="trackTable_Cell his3">00</div>
									<div class="trackTable_Cell his4">00.00</div>
									<div class="trackTable_Cell his5">25 'C</div>
									<div class="trackTable_Cell his6">Sensor</div>
								</div>
							</div>
						</div>
						
					</div>			
				
					<!-- Report ---------------------------------------------------------------------------->
					<div class="toolRoot toolReport" style="display: none;">
						<div class="head"></div>
						
						<!-- Report Group ------------------------------------------------------------------>
						<div class="histoGroupBox">
								<div class="histoGroupBox_Label">รูปแบบรายงาน</div>					
							<div class="histoGroupBox_Drop">
								<select>
									<option value="">แบบที่ 1</option>
									<option value="">แบบที่ 2</option>
									<option value="">แบบที่ 3</option>
									<option value="">แบบที่ 4</option>
								</select>
							</div>
						</div>
						<div class="histoGroupBox">
								<div class="histoGroupBox_Label">เลือกกลุ่มยานพาหนะ</div>					
							<div class="histoGroupBox_Drop">
								<select>
									<option value="">กลุ่ม 1</option>
									<option value="">กลุ่ม 2</option>
									<option value="">กลุ่ม 3</option>
									<option value="">กลุ่ม 4</option>
								</select>
							</div>
						</div>
						<div class="histoGroupBox">
								<div class="histoGroupBox_Label">เลือกยานพาหนะ</div>					
							<div class="histoGroupBox_Drop">
								<select>
									<option value="">คันที่ 1</option>
									<option value="">คันที่ 2</option>
									<option value="">คันที่ 3</option>
									<option value="">คันที่ 4</option>
								</select>
							</div>
						</div>
						<div class="histoGroupBox">
							<div class="histoGroupBox_Label">เริ่มจากวันที่</div>
							<div class="histoGroupBox_Label"><input class="Date" type="text" value="1/1/2557"  /></div>
							<div class="histoGroupBox_Label" style="width: 30px;">เวลา</div>
							<div class="histoGroupBox_Label"><input class="Time" type="text" value="00:00"  /></div>
						</div>
						<div class="histoGroupBox">
							<div class="histoGroupBox_Label">จนถึงวันที่</div>
							<div class="histoGroupBox_Label"><input class="Date" type="text" value="1/1/2557"  /></div>
							<div class="histoGroupBox_Label" style="width: 30px;">เวลา</div>
							<div class="histoGroupBox_Label"><input class="Time" type="text" value="00:00"  /></div>
						</div>
						<div align="center">
							<input type="button" value="Go!"  />
						</div>
						
						<br clear="all" />
						
						<!-- Report List ------------------------------------------------------------------>
						<div class="trackTableOuter">
							<div class="trackTable" style="min-width: 320px;">
								<div class="trackTable_Head">
									<div class="trackTable_Cell rep1">วันที่</div>
									<div class="trackTable_Cell rep2">เวลา</div>
									<div class="trackTable_Cell rep3">ความเร็วที่กำหนด</div>
									<div class="trackTable_Cell rep4">ความเร็ว</div>
									<div class="trackTable_Cell rep5">ตำแหน่ง</div>
								</div>
								<div class="trackTable_Row">
									<div class="trackTable_Cell rep1">00/00/0000</div>
									<div class="trackTable_Cell rep2">00:00:00</div>
									<div class="trackTable_Cell rep3">00</div>
									<div class="trackTable_Cell rep4">00</div>
									<div class="trackTable_Cell rep5">xxxxxxx</div>
								</div>
								<div class="trackTable_Row">
									<div class="trackTable_Cell rep1">00/00/0000</div>
									<div class="trackTable_Cell rep2">00:00:00</div>
									<div class="trackTable_Cell rep3">00</div>
									<div class="trackTable_Cell rep4">00</div>
									<div class="trackTable_Cell rep5">xxxxxxx</div>
								</div>
							</div>
						</div>
						
					</div>		
					
					<!-- Marker ---------------------------------------------------------------------------->
					<div class="toolRoot toolMarker" style="display: none;" >
						<div class="head"></div>
						<%- include setpoi.ejs %>
					</div>	
					
					<!-- Setting -------------------------------------------------------------------------->
					<div class="toolRoot toolSetting" style="display: none;">
						<div class="head"></div>
						<%- include userall.ejs %> 
					</div>	
				</div>
				
			</div>
		
	</div>


	
	<!-- Footer Section ---------------------------------------------------------------------------->
	<div class="mainFooter">&copy; 2014 MS Track (Thailand) Co., Ltd.
		<div class="mainFooterShadow"></div>
	</div>
</div>
</body>
</html>
