<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script>
		window.onload = function() {
		    document.getElementById("uuName").focus();
		};
	</script>
	<title><%= title %></title>
	<style>
	    html, body {
	        background: #303030;
	        font-family: "jaf-facitweb","Helvetica Neue",Arial,sans-serif;
	    }

	    .panel {
			margin: 30px auto 0px auto;
			padding: 0px;
			width: 800px;
			height: 600px;
			position: relative;
			background: url(img/bg.png);
	        background-repeat: no-repeat;
	        background-position:center top;
		}

		.form {
			position: absolute;
			left: 200px;
			top: 250px;
			width: 400px;
			display: block;
		}

		.label {
	        font-weight: 800;
			text-align: right;
			line-height: 35px;
			color: #FFF;
			float: left;
			display: block;
			width: 120px;
			padding-right: 8px;
			padding-bottom: 8px;
		}

		.input {
			float: left;
			display: block;
			width: 250px;
			padding-bottom: 8px;
	        line-height: normal;
		}

	    .inputBox {
	        font-size: 16px;
	        font-weight: 800;
	        background: #f5f5f5;
	        border-radius: 3px;
	        border: 1px solid #ccc;
	        -webkit-box-sizing: border-box;
	        box-sizing: border-box;
	        padding: .4em;
	        max-width: 400px;
	        width: 100%;
	        border-color: #999;
	    }

	    .inputButton {
			font-size: 14px;
			color: #363636;
			float: left;
			display: block;
			width: 80px;
			height: 32px;
			margin-left: 300px;
	        background: #e6e6e6;
	        background: -webkit-linear-gradient(top, #e6e6e6 0, #e6e6e6 100%);
	        background: linear-gradient(to bottom, #e6e6e6 0, #e6e6e6 100%);
	        border-radius: 3px;
	        box-shadow: 0 2px 0 #999;
	        color: #4d4d4d;
	        display: inline-block;
	        font-weight: bold;
	        margin-bottom: .8em;
	        padding: .6em 1.3em;
	        position: relative;
	        text-decoration: none;
	        border: 0;
	        cursor: pointer;
		}

		a:link, a:active, a:visited {
			color: #000000;
			text-decoration: none;
			outline: none;
		}

		.mlink {
			position: absolute;
			left: 585px;
			top: 565px;
			width: 200px;
			display: block;
		}

		.mlinkbut:link, .mlinkbut:visited, .mlinkbut:active, .mlinkbut:hover {
			display: block;
			width: 200px;
		    position: absolute;
			height: 29px;
			background: url(img/bg_mmer.png);
	        background-repeat: no-repeat;
	        background-position:center top;
		}
	</style>
</head>
    <body>
        <div class="panel">
		  <div class="form">
			<form method="post" action="/checklogin">
			<div class="label">User :</div>
			<div class="input"><input class="inputBox" id="uuName" name="uuName" title="Username" maxlength="50"></div><br clear="all">
			<div class="label">Password :</div>
			<div class="input"><input class="inputBox" id="ppWord" name="ppWord" title="Password" maxlength="50" type="password"></div>
			<div class="label">&nbsp;&nbsp;&nbsp;</div>
			<div class="input"><input class="inputButton" value="Login" type="submit"></div>
			<div class="label">&nbsp;&nbsp;&nbsp;</div>
			</form>
		  </div>
		<div class="mlink"><a href="http://www.mmersystem.com/" target="_blank" class="mlinkbut"></a></div>
	   </div>
    </body>
</html>
