<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><%= title %></title>
		<script src="js/jquery/jquery.js"></script>
		<script src="js/jquery/jquery-ui.js"></script>
		<script src="js/controller/jsnews.js"></script>
	</head>
	<body>
		<div>
			<form id="postnews" action="/addnews" method="POST" enctype="multipart/form-data">
				หัวข้อข่าว:
				<input id="topicid" type="text" name="topic"><br><br>
				เนื้อหา:
				<textarea id="txtcontentid" name="txcontent" rows="10" cols="50"></textarea><br><br>
				เพิ่มรูป:
				<input type="file" name="picture"><br><br>
				ประกาศโดย:
				<input id="postbyid" type="text" name="postby"><br><br>
				<input type="button" value="Post" onclick="checkbefor()">
		        <input type="reset" value="Reset">
			</form>
			<%= statusforpost %>
		</div>
	</body>
</html>