<div class="tabbable" style="margin-bottom: 18px;">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#datasetpoi" data-toggle="tab" onclick="loadsetpoi()" >จุดสนใจ</a></li>
    <li><a href="#divsetpoi" data-toggle="tab" onclick="iconselect()">เพิ่มจุดสนใจ</a></li>
  </ul>
</div>
<div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
  <div align="center" class="tab-pane"  id="divsetpoi">
    <input type="text" placeholder="กำหนดชื่อจุดสนใจ" id="namepoi"/>
    <div align="center">
      <input type="text" placeholder="ตำแหน่งละติจุด" disabled id="lattitudepoi" />
      <input type="text" placeholder="ตำแหน่งลองติจุด" disabled id="longtitudepoi" />
    </div>
    <input type="text" id="raduiasalert" onkeypress="return event.charCode > 47 && event.charCode < 58;" placeholder="รัสมีการเตือน(เฉพาะตัวเลข)เมตร" onchange="changeraduisalert()" /><br>
    <div id="iconselect"></div><br>
    <input type="checkbox" id="onoffalert" onclick="onclickcheckboxsetpoi()" />แจ้งเตือน 
    <div id="alertarea" style="display:none">
      <input type="checkbox" id="alertemail" /> Email
      <input type="checkbox" id="alertsound" /> Sound
    </div>
    <br><br><div align="center">
      <button class="btn" type="button" onclick="createnewpoi()">บันทึก</button>
      <button class="btn" type="button" onclick="clearvalue()">ยกเลิก</button>
    </div><br>
    <div align="left">
      <img src="img/pin.png" style="cursor:pointer" onclick="setofpoi()" />
    </div>
  </div>
  <div class="tab-pane active" id="datasetpoi">
    <div id="statusdatasetpoi" style="display:none">
      <img src="/img/loading/loading2.gif">
    </div>
    <div id="viewsinfopoiintable" style="display:none">
      <table class="table table-hover" id="infopoiintable">
        <thead bgcolor="gray">
          <tr class="success">
            <td>
              ชื่อสถานที่
            </td>
            <td>
              ภาพ
            </td>
            <td>
              แจ้งเตือน
            </td>
            <td>
              แก้ไข
            </td>
            <td>
              ลบ
            </td>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
    <div align="center" class="tab-pane"  id="editdivsetpoi" style="display:none">
      <input type="text" placeholder="กำหนดชื่อจุดสนใจ" id="editnamepoi"/>
      <div align="center">
        <input type="text" placeholder="ตำแหน่งละติจุด" disabled id="editlattitudepoi" />
        <input type="text" placeholder="ตำแหน่งลองติจุด" disabled id="editlongtitudepoi" />
      </div>
      <input type="text" id="editraduiasalert" onkeypress="return event.charCode > 47 && event.charCode < 58;" placeholder="รัสมีการเตือน(เฉพาะตัวเลข)เมตร" onchange="editchangradius()" /><br>
      <div id="editiconselect"></div><br>
      <input type="checkbox" id="editonoffalert" />แจ้งเตือน 
      <input type="checkbox" id="editalertemail" /> Email
      <input type="checkbox" id="editalertsound" /> Sound
      <br><br><div align="center">
        <button class="btn" type="button" onclick="saveeditpoi()">บันทึก</button>
        <button class="btn" type="button" onclick="canclereditpoi()">ยกเลิก</button>
      </div>
    </div>
  </div>
</div>