<div id="showdatatrackingtable" style="display:none">
	<table id="trackingtabel" class="table table-hover" border="1">
		<thead>
			<tr class="success">
				<th>ID</th>
				<th>ทะเบียน</th>
				<th>ตำแหน่ง</th>
				<th>ความเร็ว</th>
				<th>น้ำมัน</th>
				<th>อุณหภูมิ</th>
				<th>Sensor</th>
				<th>ปัญหา</th>
				<th>ติดตาม</th>
			</tr>
			</thead>
			<tbody>

			</tbody>
	</table>
</div>
<div id="loadshowdatatrackingtable">
    <img src="/img/loading/loading2.gif">
</div>
