<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>

		<title><%= title %></title>
		<link rel="stylesheet" href="/css/styleuser.css"  />
		<script src="js/jquery/jquery.js"> </script>
		<script src="js/controller/viewsuser.js"> </script>
		<script src="https://maps.googleapis.com/maps/api/js?key=<%= mapkey %>"> </script>
		<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places"></script>
		<script type="text/javascript">
			google.maps.event.addDomListener(window, 'load', initialize);
		</script>

	</head>
	<body>
		<div id="formadduser">
			<form id="adduser" action="/user" method="POST" enctype="multipart/form-data">
				ชื่อ-นามสกุล: <input type="text" name="namesur" id="namesur"/><br>
				email: <input type="email" name="useremail" , id="useremail"/><br>
				เบอร์โทร: <input type="text" name="tel" id="tel"/><br>
				เลือก Set ลูกค้า:
				<select name="type" id="type">
				  	<option value="null" selected="selected">เลือก Set</option>
				  	<option value="0">Set C</option>
				  	<option value="1">Set B</option>
				</select><br>
				Username: <input type="text" name="username" id="username"/><br>
				Password: <input type="password" name="password" id="password"/><br>
				Re Again Password: <input type="password" name="againpassword" id="againpassword"/><br>
				ชื่อ ห้างร้าน/บริษัท: <input type="text" name="company" id="company"/><br>
				เพิ่มรูปร้านที่ 1: <input type="file" name="picture1"/><br>
				เพิ่มรูปร้านที่ 2: <input type="file" name="picture2"/><br>
				เพิ่มรูปร้านที่ 3: <input type="file" name="picture3"/><br>
				วันที่ใช้งานครั้งแรก: <input type="date" name="sign" id="sign"><br>
				วันหมดอายุ:	 <input type="date" name="exp" id="exp"><br>
				สถานะผู้ใช้:
				<input type="radio" name="verify" value="True">ใช้งาน
				<input type="radio" name="verify" value="False">ไม่ใช้งาน<br>
				สถานที่ตั้ง:<br>
				ที่อยู่(จัดส่งเอกสาร): <textarea rows="7" cols="30" name="address" id="address"></textarea><br>
				latitude: <input type="text" name="latitude" id="latitude"/><br>
				logtitude: <input type="text" name="logtitude" id="logtitude"/><br>
				<input type="button" value="Save" onclick="buttonsave()" />
		        <input type="reset"  value="Reset"/>
			</form>
		</div>
		<div id="getmap">
			<input id="pac-input" class="controls" type="text" placeholder="Search Box">
			<div id="map-canvas" onload="initialize()"></div>
		</div>
	</body> 
</html>