<div class="tabbable" style="margin-bottom: 18px;">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">ข้อมูลผู้ใช้</a></li>
    <li><a href="#tab2" data-toggle="tab" onclick="showalllistcarbyuser()">ข้อมูลรถ</a></li>
    <li><a href="#tab3" data-toggle="tab" onclick="loadallvehiclecarbyuser()">จัดกลุ่มรถ</a></li>
    <li><a href="#tab4" data-toggle="tab" onclick="searchalldatainfodriver()">คนขับรถ</a></li>
  </ul>
  <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">

    <div class="tab-pane active" id="tab1">
      <table class="table table-hover" id="table1">
      <caption>ข้อมูลผู้ใช้</caption>
        <tbody>

          <tr class="success">
            <td>
              <span class="label label-info">ชื่อ-นามสกุล ผู้ใช้:</span>
            </td>
            <td>
              <span class="label label-important" id="name"><%= nameuser %></span>
            </td>
          </tr>

          <tr class="success">
            <td>
              <span class="label label-info">User:</span>
            </td>
            <td>
              <span class="label label-important" id="uname"><%= username %></span>
            </td>
          </tr>

          <tr class="success">
            <td>
              <span class="label label-info">ชื่อ ห้างร้าน/บริษัท:</span>
            </td>
            <td>
              <input type="text" id="ucompany" value=<%= company %> />
            </td>
          </tr>

          <tr class="success">
            <td>
              <span class="label label-info">เบอร์โทรศัพท์:</span>
            </td>
            <td>
              <input type="text" id="uphone" value=<%= phonenum %> />
            </td>
          </tr>

          <tr class="success">
            <td>
              <span class="label label-info">email:</span>
            </td>
            <td>
              <input type="text" id="uemail" value=<%= emailuser %> />
            </td>
          </tr>

          <tr class="success">
            <td>
              <span class="label label-info">ที่อยู่จัดส่งเอกสาร:</span>
            </td>
            <td>
              <textarea id="uaddress" rows="7" cols="30"><%= address %></textarea>
            </td>
          </tr>

          <tr>
            <td>
              <button class="btn" type="button" onclick="clicksave1()">บันทึกข้อมูล</button>
            </td>
          </tr>
        </tbody>
      </table>

      <table class="table table-hover">
        <caption>เปลี่ยนรหัสผ่าน</caption>
        <tbody>

          <tr class="success">
            <td>
              <span class="label label-info">รหัสผ่านปัจจุบน:</span>
            </td>
            <td>
              <input type="text" id="oldpass"/>
            </td>
          </tr>

          <tr class="success">
            <td>
              <span class="label label-info">รหัสผ่านใหม่:</span>
            </td>
            <td>
              <input type="text" id="newpass"/>
            </td>
          </tr>

          <tr class="success">
            <td>
              <span class="label label-info">ยืนยัน รหัสผ่านใหม่:</span>
            </td>
            <td>
              <input type="text" id="newpassagain"/>
            </td>
          </tr>

          <tr>
            <td>
              <button class="btn" type="button" onclick="clicksave2()">บันทึกข้อมูล</button>
            </td>
          </tr>
          
        </tbody>
      </table>
    </div>

    <div class="tab-pane" id="tab2">
      <div id="statusloadingtab2" style="display:none">
        <img src="/img/loading/loading2.gif">
      </div>
      <div id="listcarallbyuser" style="display:none">
        <p>รายการรถ</p>
        <select multiple="multiple" ondblclick="showeditcarallbyuser()" id="listcarofuser" width="100%" size="10" style="width: 100%">

        </select>
      </div>
      <div id="editcarallbyuser" style="display:none">
        <p>ข้อมูลรถ</p>
        <table class="table table-hover">
          <tbody>
            <tr>
              <td>
                <span class="label label-success">ID รถ:</span>
              </td>
              <td>
                <input type="text" id="idvehicle" name="idvehiclebyuser" disabled>
              </td>
              </tr>
              <tr>
                <td>
                  <span class="label label-success">ทะเบียนรถ:</span>
                </td>
                <td>
                  <input type="text" id="editregistration" name="registrationbyuser">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="label label-success">ยี่ห้อรถ:</span>
                </td>
                <td>
                  <input type="text" id="editbrandcar" name="brandcarbyuser">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="label label-success">รุ่นของรถ:</span>
                </td>
                <td>
                  <input type="text" id="editseriescar" name="seriescarbyuser">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="label label-success">ปีของรถ:</span>
                </td>
                <td>
                  <input type="text" id="edityearcar" name="yearcarbyuser">
                </td>
              </tr>
              <tr>
                <td>
                   <span class="label label-success">กำหนดต่อภาษี:</span>
                 </td>
                 <td>
                   <input type="date" id="edittaxdate" name="taxdatebyuser">
                 </td>
              </tr>
              <tr>
                <td>
                  <span class="label label-success" >จำกัดความเร็ว:(Km/h)</span>
                </td>
                <td>
                  <input type="text" id="editspeedlimitbyuser" name="speedlimit" onkeypress="return event.charCode > 47 && event.charCode < 58;">
                </td>
              </tr>
              <tr>
                <td>
                  <span class="label label-success">รูปรถ 1</span>
                </td>
                <td>
                  <img src="/img/truck/Mercedes-Truck-icon.png" id="editpreviewspictuertruck01byuser" height="90" width="90"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="label label-success">รูปรถ 2</span>
                </td>
                <td>
                  <img src="/img/truck/Pipe-Truck-icon.png" id="editpreviewspictuertruck02byuser" height="90" width="90"/>
                </td>
              </tr>
              <tr>
                <td>
                  <span class="label label-success">รูปรถ 3</span>
                </td>
                <td>
                  <img src="/img/truck/Stake-Truck-icon.png" id="editpreviewspictuertruck03byuser" height="90" width="90"/>
                </td>
              </tr>
              <tr>
                <td>
                  
                </td>
                <td>
                  <button class="btn" type="button" onclick="updatevehiclebyuser()">แก้ไข</button>
                  <button class="btn" type="button" onclick="cancleeditbyuser()">ยกเลิก</button>
                </td>
              </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="tab-pane" id="tab3">
      <div id="statusloadingtab3" style="display:none">
        <img src="/img/loading/loading2.gif">
      </div>
      <div id="divgroupcar" style="display:none">
        <table class="table table-hover">
          <caption>สร้างกลุ่มรถ</caption>

          <tr class="success">
            <td>
              <span class="label label-info">ชื่อกลุ่ม:</span>
            </td>
            <td>
              <input type="text" id="gorupVehicle"/>
            </td>
            <td>
              <button class="btn" type="button" onclick="addgroupcar()">สร้าง</button>
            </td>
          </tr>

        </table>

        <table class="table table-hover">
          <caption>เพิ่ม/ลด รถเข้ากลุ่ม</caption>

          <tr class="success">
            <td>
              <span class="label label-info">รายชื่อรถ</span>
            </td>
            <td>
              <select multiple="multiple" ondblclick="vehiclecar()" id="vehiclecar">

              </select>
            </td>
          </tr>

          <tr class="success">
            <td>
              <span class="label label-info">เลือกกลุ่มรถ :</span>
            </td>
            <td>
              <select id="grouplist" onclick="clcgrouplist()">
                <option>เลือกลุ่มของรถ</option>
              </select>
              <button class="btn" type="button" onclick="deletegroup()" style="display:none" id="deletegroup">ลบ</button>
              <button class="btn" type="button" onclick="editgroup()" style="display:none" id="editgroup">เปลี่ยนชื่อกลุ่ม</button>
              <div id="eventgrouplist"></div>
            </td>
          </tr>

          <tr class="success">
            <td>
              <span class="label label-info">รายชื่อรถในกลุ่ม</span>
            </td>
            <td>
              <select multiple="multiple" id="vehicecalrforgroup" ondblclick="clearvehice()">
              </select>
            </td>
          </tr>

        </table>
      </div>
    </div>

    <div class="tab-pane" id="tab4">
      <div class="tabbable" style="margin-bottom: 18px;">
        <ul class="nav nav-tabs">
          <li class="active"><a href="#datadriver" data-toggle="tab">ข้อมูลคนขับ</a></li>
          <li><a href="#adddriver" data-toggle="tab">เพิ่ม/ลด คนขับ</a></li>
        </ul>
      <div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">

        <div class="tab-pane active" id="datadriver">
          <div id="statusloadingtab4datadriver" style="display:none">
            <img src="/img/loading/loading2.gif">
          </div>
          <div id="datadriverbyuser" style="display:none">
            <table class="table table-hover">
              <caption>ข้อมูลคนขับรถ</caption>
              <tr class="success">
                <td>
                  <select onclick="checkdatainfodriver()" id="datainfodriver">
                    <option>เลือกชื่อคนขับ</option>
                  </select>
                </td>
                <td>
                  <button class="btn" type="button" onclick="editinfodriver()">แก้ไข</button>
                </td>
              </tr>
            </table>
          </div>
          <div id="infodrivershow" style="display:none">
            <table class="table table-hover">
              <caption>เพิ่มคนขับรถ</caption>
              <tr class="success">
                <td>
                  <span class="label label-info">รหัสพนักงาน:</span>
                </td>
                <td>
                  <input type="text" id="editiddriver" disabled/>
                </td>
              </tr>

              <tr class="success">
                <td>
                  <span class="label label-info">ชื่อพนักงาน:</span>
                </td>
                <td>
                  <input type="text" id="editnamedriver" disabled/>
                </td>
              </tr>

               <tr class="success">
                <td>
                  <span class="label label-info">ชื่อเล่นพนักงาน:</span>
                </td>
                <td>
                  <input type="text" id="editnicknamedriver" disabled/>
                </td>
              </tr>

              <tr class="success">
                <td>
                  <span class="label label-info">เลขใบขับขี่:</span>
                </td>
                <td>
                  <input type="text" id="editnumiddirver" disabled/>
                </td>
              </tr>

              <tr class="success">
                <td>
                  <span class="label label-info">หมายเลขโทรศัพท์:</span>
                </td>
                <td>
                  <input type="text" id="editphoneiddriver" disabled/>
                </td>
              </tr>

              <tr class="success">
                <td>
                  <span class="label label-info">วันเริ่มงาน:</span>
                </td>
                <td>
                  <input type="text" id="editfirststartdirver" disabled/>
                </td>
              </tr>

              <tr class="success">
                <td>
                  <span class="label label-info">จำนวนวันทำงาน:</span>
                </td>
                <td>
                  <input type="text" id="editdaywork" disabled/>
                </td>
              </tr>

              <tr class="success">
                <td>
                  <span class="label label-info">Picture:</span>
                </td>
                <td>
                  <input type="file" id="editpicturenewdriver" onchange="editpreviewimagedriver()" disabled/>
                  <a id="aeditpreviewnewdriver">
                    <img src="img/nobody.jpg" height="90" width="90" id="editpreviewnewdriver">
                  </a>
                  <label id="editsizeimageuserall"></label>
                </td>
              </tr>

              <tr class="success">
                <td>

                </td>
                <td>
                  <button class="btn" type="button" onclick="saveeditnewdriver()" id="editsavedriver" disabled>เพิ่ม</button>
                  <button class="btn" type="button" onclick="editclearnewdriver()" id="editcleardriver" disabled>ยกเลิก</button>
                </td>
              </tr>

            </table>
          </div>
        </div>

        <div class="tab-pane" id="adddriver">
          <table class="table table-hover">
            <caption>เพิ่มคนขับรถ</caption>
            <tr class="success">
              <td>
                <span class="label label-info">รหัสพนักงาน:</span>
              </td>
              <td>
                <input type="text" id="iddriver" onchange="chackhavethisid()"/>
              </td>
            </tr>

            <tr class="success">
              <td>
                <span class="label label-info">ชื่อพนักงาน:</span>
              </td>
              <td>
                <input type="text" id="namedriver"/>
              </td>
            </tr>

             <tr class="success">
              <td>
                <span class="label label-info">ชื่อเล่นพนักงาน:</span>
              </td>
              <td>
                <input type="text" id="nicknamedriver" />
              </td>
            </tr>

            <tr class="success">
              <td>
                <span class="label label-info">เลขใบขับขี่:</span>
              </td>
              <td>
                <input type="text" id="numiddirver" />
              </td>
            </tr>

            <tr class="success">
              <td>
                <span class="label label-info">หมายเลขโทรศัพท์:</span>
              </td>
              <td>
                <input type="text" id="phoneiddriver" />
              </td>
            </tr>

            <tr class="success">
              <td>
                <span class="label label-info">วันเริ่มงาน:</span>
              </td>
              <td>
                <input type="date" id="firststartdirver" />
              </td>
            </tr>

            <tr class="success">
              <td>
                <span class="label label-info">Picture:</span>
              </td>
              <td>
                <input type="file" id="picturenewdriver" onchange="previewimagedriver();" />
                <img src="img/nobody.jpg" height="90" width="90" id="previewnewdriver">
                <label id="sizeimageuserall"></label>
              </td>
            </tr>

            <tr class="success">
              <td>

              </td>
              <td>
                <button class="btn" type="button" onclick="savenewdriver()">เพิ่ม</button>
                <button class="btn" type="button" onclick="clearnewdriver()">ยกเลิก</button>
              </td>
            </tr>

          </table>

          <table class="table table-hover">
            <caption>ลดคนขับ</caption>

            <tr class="success">
              <td>
                <select ondblclick="#" id="iddeletedriver">
                  <option>เลือกชื่อคนขับ</option>
                </select>
              </td>
              <td>
                <button class="btn" type="button" onclick="deleteinfodriver()">ลดคนขับ</button>
              </td>
            </tr>

          </table>
        </div>

      </div>  
    </div>

  </div>
</div> <!-- /tabbable --> 