<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title><%= title %></title>

		<!-- Jquery -------------------------------->
		<script src="js/jquery/jquery.js"></script>
		<script src="js/jquery/jquery-ui.js"></script>
		<!-- Bootstrap ---------------------------------->
		<link rel="stylesheet" href="css/bootstrap/bootstrap.css" />
		<link rel="stylesheet" href="css/bootstrap/bootstrap-responsive.css" />
		<script src="js/bootstrap/bootstrap-transition.js"></script>
		<script src="js/bootstrap/bootstrap-alert.js"></script>
		<script src="js/bootstrap/bootstrap-modal.js"></script>
		<script src="js/bootstrap/bootstrap-dropdown.js"></script>
		<script src="js/bootstrap/bootstrap-scrollspy.js"></script>
		<script src="js/bootstrap/bootstrap-tab.js"></script>
		<script src="js/bootstrap/bootstrap-tooltip.js"></script>
		<script src="js/bootstrap/bootstrap-popover.js"></script>
		<script src="js/bootstrap/bootstrap-button.js"></script>
		<script src="js/bootstrap/bootstrap-collapse.js"></script>
		<script src="js/bootstrap/bootstrap-carousel.js"></script>
		<script src="js/bootstrap/bootstrap-typeahead.js"></script>
		<script src="js/bootstrap/bootstrap-affix.js"></script>
		<script src="js/bootstrap/application.js"></script> 
		<script src="js/holder/holder.js"></script>
		<script src="js/google-code-prettify/prettify.js"></script>
		<!-- Controller ------------------------------------>
		<script src="js/controller/viewvehicle.js"> </script>
		<script src="js/controller/viewgpsbox.js"> </script>
	</head>
	<body>
		<div class="tabbable" style="margin-bottom: 18px;">
		  <ul class="nav nav-tabs">
		    <li class="active"><a href="#adddeletevehicle" data-toggle="tab" onclick="loaduserforgpsbox()">เพิ่ม/ลด/แก้ไข รถ</a></li>
		    <li><a href="#datagpsbox" data-toggle="tab" onclick="loaduserforgpsbox()">เพิ่ม/ลด/แก้ไข กล่องgps</a></li>
		  </ul>
		</div>
		<div class="tab-content" style="padding-bottom: 9px; border-bottom: 1px solid #ddd;">
		  <div class="tab-pane active"  id="adddeletevehicle">
		  	<div class="row">
		  		<div class="span5" id="statussavenewvehicle" style="display:none">
		  			<img src="/img/loading/ajax-loader.gif">
		  		</div>
			  	<div class="span5" id="savenewvehicle">
				  	<form action="/addnewvehicle" method="POST" enctype="multipart/form-data" id="newvehicle">
				  		<table class="table table-hover">
			    			<caption>เพิ่มรถบรรทุก</caption>
			    			<tbody>
			    				<tr>
			    					<td>
			    						<span class="label label-success">ทะเบียนรถ:</span>
			    					</td>
			    					<td>
			    						<input type="text" id="registration" name="registration">
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">ยี่ห้อรถ:</span>
			    					</td>
			    					<td>
			    						<input type="text" id="brandcar" name="brandcar">
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">รุ่นของรถ:</span>
			    					</td>
			    					<td>
			    						<input type="text" id="seriescar" name="seriescar">
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">ปีของรถ:</span>
			    					</td>
			    					<td>
			    						<input type="text" id="yearcar" name="yearcar">
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">เลขตัวถัง:</span>
			    					</td>
			    					<td>
			    						<input type="text" id="numtankcar" name="numtankcar">
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">กำหนดต่อภาษี:</span>
			    					</td>
			    					<td>
			    						<input type="date" id="taxdate" name="taxdate">
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success" >จำกัดความเร็ว:(Km/h)</span>
			    					</td>
			    					<td>
			    						<input type="text" id="speedlimit" name="speedlimit" onkeypress="return event.charCode > 47 && event.charCode < 58;">
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">ความจุถังน้ำมัน:(ลิตร)</span>
			    					</td>
			    					<td>
			    						<input type="text" id="littertank" name="littertank" onkeypress="return event.charCode > 47 && event.charCode < 58;">
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">น้ำมัน 100%:(Volt)</span>
			    					</td>
			    					<td>
			    						<input type="text" id="fulltank" name="fulltank" onkeypress="return event.charCode > 47 && event.charCode < 58;">
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">น้ำมัน 50%:(Volt)</span>
			    					</td>
			    					<td>
			    						<input type="text" id="middletank" name="middletank" onkeypress="return event.charCode > 47 && event.charCode < 58;">
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">น้ำมัน 0%:(Volt)</span>
			    					</td>
			    					<td>
			    						<input type="text" id="lowtank" name="lowtank" onkeypress="return event.charCode > 47 && event.charCode < 58;">
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">หมายเลข IMIE:</span>
			    					</td>
			    					<td>
			    						<select id="numimie" name="numimie">
							                <option>เลือกหมายเลข IMIE</option>
							            </select>
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">เจ้าของรถ:</span>
			    					</td>
			    					<td>
			    						<select id="ownercar" name="ownercar">
							                <option>เลือกเจ้าของรถ</option>
							            </select>
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">รูปรถ 1</span>
			    					</td>
			    					<td>
			    						<input type="file" onchange="previewspictuertruck1()" id="previewspictuertruck11" name="picture1">
			    						<img src="/img/truck/Mercedes-Truck-icon.png" id="previewspictuertruck01" height="90" width="90"/>
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">รูปรถ 2</span>
			    					</td>
			    					<td>
			    						<input type="file" onchange="previewspictuertruck2()" id="previewspictuertruck22" name="picture2">
			    						<img src="/img/truck/Pipe-Truck-icon.png" id="previewspictuertruck02" height="90" width="90"/>
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						<span class="label label-success">รูปรถ 3</span>
			    					</td>
			    					<td>
			    						<input type="file" onchange="previewspictuertruck3()" id="previewspictuertruck33" name="picture3">
			    						<img src="/img/truck/Stake-Truck-icon.png" id="previewspictuertruck03" height="90" width="90"/>
			    					</td>
			    				</tr>
			    				<tr>
			    					<td>
			    						
			    					</td>
			    					<td>
			    						<button class="btn" type="button" onclick="savenewvehicle()">บันทึก</button>
			    						<button class="btn" type="button" onclick="claernewvehicle()">ยกเลิก</button>
			    					</td>
			    				</tr>
			    			</tbody>
			    		</table>
			    	</form>
			  	</div>

			  	<div class="span4">
			  		<table class="table table-hover">
		    			<caption>ข้อมูลรถบรรทุก</caption>
		    			<tbody>
		    				<tr>
		    					<td>
			    					<span class="label label-success">ค้นด้วย ID รถ</span>
			    				</td>
			    				<td>
			    					<input type="text" id="editregistorcar" onkeypress="waitEntereditregistorcar(event.charCode)" />
								</td>
							</tr>
							<tr>
								<td> 

								</td>
								<td>
									<button class="btn" onclick="queryeditregistorcar()">ค้นหา</button>
								</td>
							</tr>
		    			</tbody>
		    		</table>
		    		<div id="showeditvehecle" style="display:none">
			    		<table class="table table-hover">
				    		<caption>แก้ไข</caption>
				    		<tbody>
				    			<tr>
				    				<td>
				    					<span class="label label-success">ID รถ:</span>
				    				</td>
				    				<td>
				    					<input type="text" id="idvehicle" name="idvehicle" disabled>
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">ทะเบียนรถ:</span>
				    				</td>
				    				<td>
				    					<input type="text" id="editregistration" name="registration">
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">ยี่ห้อรถ:</span>
				    				</td>
				    				<td>
				    					<input type="text" id="editbrandcar" name="brandcar">
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">รุ่นของรถ:</span>
				    				</td>
				    				<td>
				    					<input type="text" id="editseriescar" name="seriescar">
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">ปีของรถ:</span>
				    				</td>
				    				<td>
				    					<input type="text" id="edityearcar" name="yearcar">
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">เลขตัวถัง:</span>
				    				</td>
				    				<td>
				    					<input type="text" id="editnumtankcar" name="numtankcar">
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">กำหนดต่อภาษี:</span>
				    				</td>
				    				<td>
				    					<input type="date" id="edittaxdate" name="taxdate">
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success" >จำกัดความเร็ว:(Km/h)</span>
				    				</td>
				    				<td>
				    					<input type="text" id="editspeedlimit" name="speedlimit" onkeypress="return event.charCode > 47 && event.charCode < 58;">
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">ความจุถังน้ำมัน:(ลิตร)</span>
				    				</td>
				    				<td>
				    					<input type="text" id="editlittertank" name="littertank" onkeypress="return event.charCode > 47 && event.charCode < 58;">
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">น้ำมัน 100%:(Volt)</span>
				    				</td>
				    				<td>
				    					<input type="text" id="editfulltank" name="fulltank" onkeypress="return event.charCode > 47 && event.charCode < 58;">
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">น้ำมัน 50%:(Volt)</span>
				    				</td>
				    				<td>
				    					<input type="text" id="editmiddletank" name="middletank" onkeypress="return event.charCode > 47 && event.charCode < 58;">
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">น้ำมัน 0%:(Volt)</span>
				    				</td>
				    				<td>
				    					<input type="text" id="editlowtank" name="lowtank" onkeypress="return event.charCode > 47 && event.charCode < 58;">
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">หมายเลข IMIE:</span>
				    				</td>
				    				<td>
				    					<select id="editnumimie" name="numimie">
								            <option>เลือกหมายเลข IMIE</option>
								        </select>
								        <a href="#" onclick="showdatagpsbox()">ส่งข้อมูลไปที่ช่องค้นหากล่องGps</a>
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">เจ้าของรถ:</span>
				    				</td>
				    				<td>
				    					<select id="editownercar" name="ownercar">
								            <option>เลือกเจ้าของรถ</option>
								        </select>
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">รูปรถ 1</span>
				    				</td>
				    				<td>
				    					<img src="/img/truck/Mercedes-Truck-icon.png" id="editpreviewspictuertruck01" height="90" width="90"/>
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">รูปรถ 2</span>
				    				</td>
				    				<td>
				    					<img src="/img/truck/Pipe-Truck-icon.png" id="editpreviewspictuertruck02" height="90" width="90"/>
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					<span class="label label-success">รูปรถ 3</span>
				    				</td>
				    				<td>
				    					<img src="/img/truck/Stake-Truck-icon.png" id="editpreviewspictuertruck03" height="90" width="90"/>
				    				</td>
				    			</tr>
				    			<tr>
				    				<td>
				    					
				    				</td>
				    				<td>
				    					<button class="btn" type="button" onclick="updatevehicle()">แก้ไข</button>
				    					<button class="btn" type="button" onclick="cancleedit()">ยกเลิก</button>
				    				</td>
				    			</tr>
				    		</tbody>
				    	</table>
			    	</div>
			  	</div>

			  	<div class="span4" style="display:none">
			  		<table class="table table-hover">
		    			<caption>ลดรถบรรทุก</caption>
		    			<tbody>
		    				<tr>
		    					<td>
			    					<span class="label label-success">ค้นด้วยทะเบียนรถ</span>
			    				</td>
			    				<td>
			    					<select  id="deleteregistorcar">
										<option>เลือกทะเบียนรถ</option>
									</select>
								</td>
							</tr>
							<tr>
								<td>
								</td>
								<td>
									<button class="btn" onclick="deletevehicle()">ลบ</button>
								</td>
							</tr>
		    			</tbody>
		    		</table>
			  	</div>

			</div>
		  </div>
		  <div class="tab-pane" id="datagpsbox">
		  	<div class="row">
			  	<div class="span3">
			  	<table class="table table-hover">
				    <caption>เพิ่มกล่อง Gps</caption>
			        	<tbody>
			        		<tr>
			        			<td>
			        				<span class="label label-success">หมายเลข IMIE:</span><br><br>
			        				<input id="imiegpsbox" onchange="checkimeiindb()" type="text">
			        			</td>
			        		</tr>
			        		<tr>
			        			<td>
			        				<span class="label label-success">รุ่นของกล่อง:</span><br><br>
			        				<input id="namegpsbox" type="text">
			        			</td>
			        		</tr>
			        		<tr>
			        			<td>
			        				<span class="label label-success">ผู้ใช้กล่อง:</span><br><br>          
			        				<select id="ownergpsbox">
									<option>เลือกผู้ใช้</option>
						            </select>
			        			</td>
			        		</tr>
			        		<tr>
			        			<td>
			        				<button onclick="savedatagpsbox()" class="btn">บันทึก</button>
			        				<button onclick="cleardataforgpsbox()" class="btn">ยกเลิก</button>
			        			</td>
			        		</tr>
			        	</tbody>
			      	</table>
			  	</div>
			  	<div class="span3">
				    <table class="table table-hover" id="tableeditgpsbox">
				    	<caption>ข้อมูลกล่อง GPS</caption>
			        	<tbody>
			        		<tr>
			        			<td>
			        				<span class="label label-success">หมายเลข IMIE:</span><br><br> 
			        				<input type="text" id="dataimeigpsbox" />
			        				<button class="btn" onclick="editimiegpsbox()">ค้นหา</button>
			        			</td>
			        		</tr>
			        	</tbody>
			      	</table>
			      	
			      	<table class="table table-hover" id="edittableeditgpsbox">
		      			<tbody>
		      			
		      			</tbody>
		      		</table>
			    </div> 
			    <div class="span3" style="display:none">
			    	<table class="table table-hover">
				    <caption>ลบข้อมูลกล่อง GPS</caption>
			        	<tbody>
			        		<tr>
			        			<td>
			        				<span class="label label-success">หมายเลข IMIE:</span><br><br> 
			        				<select id="dataimiefordeletegpsbox">
						                <option>เลือกหมายเลข IMIE เครื่อง</option>
						            </select>
						           	<button onclick="deleteimei()" class="btn">ลบ</button>
			        			</td>
			        		</tr>
			        	</tbody>
			      	</table>
			    </div>
			</div>	      	
		  </div>
		</div>
	</body>
</html>