@charset "utf-8";
/* CSS Document */

#map-canvas img {
    max-width: none !important; 
    height: auto !important; 
    background: none !important;
    border: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
}

body {
	font-family: Tahoma, Arial, Microsoft Sans Serif; word-wrap:break-word;
	font-size: 12px; line-height: 20px; color: #333;
	margin: 0px; overflow: hidden;
}
a:link, a:active, a:visited { color: #06C; text-decoration: none; outline: none; }
a:hover{ color: #06F; text-decoration: none; outline: none; }

.mainLogo {
	display: block; position: absolute; top: 3px; left: 4px; z-index: 100;
	width: 52px; height: 70px; background: url(../img/imgHeader_Logo.png) no-repeat;
}

/* Main Layout ------------------------------------------------------- */
.mainRoot {
	margin: 0px; padding: 0px;
	background: #FFFFFF;
}

.mainHeader {
	display: block; height: 74px; clear: both;
	margin: 0px; padding: 0px;
	background: #000 url(../img/imgToolBar_BGTile.png) repeat-x 0px 38px;
}
.mainHeaderShadow {
	display: block; height: 3px; width: 10000px; position: absolute; left: 0px; top: 74px;
	margin: 0px; padding: 0px; z-index: 500;
	border-top: 1px solid #000;
	background: #999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
}

.mainBody {
	display: block; clear: both;
	margin: 0px; padding: 0px;
}

.mainFooter {
	display: block; height: 30px; clear: both; line-height: 30px; font-size: 11px; color: #999999; text-indent: 12px;
	margin: 0px; padding: 0px; position: relative;
	background: url(../img/imgFooter_BGTile.png) repeat-x top;
}
.mainFooterShadow {
	display: block; height: 3px; width: 10000px; position: absolute; left: 0px; top: -4px;
	margin: 0px; padding: 0px; z-index: 500;
	border-bottom: 1px solid #000;
	background: #999;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
}

/* All Panel --------------------------------------------------------------- */
.panelMap {
	display: block; float: left; overflow: hidden;
	margin: 0px; padding: 0px;
	/*background: #487fa2 url(../img/imgMap_MockUp.jpg) center;*/
}
.panelResizer {
	display: block; width: 6px; float: left; cursor: w-resize; position: relative;
	margin: 0px; padding: 0px;
	background: url(../img/imgResizerBG.png) no-repeat center;
}
.panelResizer .shade {
	display: block; width: 6px; position: absolute; left: -6px; top: 0px; height: 100%;
	margin: 0px; padding: 0px;
	background: url(../img/imgResizerShade.png) repeat-y right;
}
.panelTool {
	display: block; float: left; overflow-y: auto;
	width: 420px;
	margin: 0px; padding: 0px;
	background: #f0f0f2;
}

/* Menu Bar ------------------------------------------------------------------- */
.menuBar {
	font-size: 12px;
	display: block; float: left;
	height: 34px; width: 100%;
	margin: 2px 0px 0px 0px; padding: 0px;
	border-top: 1px solid #3b3b3b;
	border-bottom: 1px solid #2c2c2c;
	background: #3b3b3b url(../img/imgMenuBar_BGMid.png) no-repeat right;
}
.menuBar_L {
	display: block; float: left; color: #aeaeae; line-height: 34px; text-indent: 60px;
	width: 300px; height: 34px; padding: 0px;
}
.menuBar_R {
	display: block; float: right; overflow: hidden;
	width: auto; height: 34px; padding: 0px;
}

.menuBar_R ul {
	display: block; float: left; list-style-type: none;
	margin: 0px; padding: 0px;
}

.menuBar_R ul li {
	display: block; float: left;
	margin: 0px; padding: 0px;
}

.menuBar_R ul li a:link, .menuBar_R ul li a:active, .menuBar_R ul li a:visited, .menuBar_R ul li a:hover {
	font-size: 12px; color: #FFF;  line-height: 34px; text-indent: 42px;
	display: block; height: 34px;
	margin: 0px; padding: 0px;
	background-image: url(../img/imgMenuBar_Icon.png);
	background-repeat: no-repeat;
}
.menuBar_R ul li a:hover {
	background-color: #1d8ed5;
}
.menuBar_R ul .mmAct {
	background-color: #1d8ed5;
}
/* Special User */
.menuBar_R .userS li a { width: 140px; }
.menuBar_R .userS .mm1 a { background-position: 4px 0px; }
.menuBar_R .userS .mm2 a { background-position: 4px -34px; }
.menuBar_R .userS .mm3 a { background-position: 4px -68px; }
.menuBar_R .userS .mm4 a { background-position: 4px -102px; }
.menuBar_R .userS .mm5 a { background-position: 4px -136px; }
.menuBar_R .userS .mm5 a:hover { background-color: #da1e65; }

/* Normal User */
.menuBar_R .userN li a { width: 104px; }
.menuBar_R .userN .mm1 a { background-position: 3px -34px; }
.menuBar_R .userN .mm2 a { background-position: 3px 0px; }
.menuBar_R .userN .mm3 a { background-position: 3px -204px; }
.menuBar_R .userN .mm4 a { background-position: 3px -68px; }
.menuBar_R .userN .mm5 a { background-position: 3px -238px; }
.menuBar_R .userN .mm6 a { background-position: 3px -102px; }
.menuBar_R .userN .mm7 a { background-position: 3px -136px; }
.menuBar_R .userN .mm7 a:hover { background-color: #da1e65; }
.menuBar_R .userN .mm7 a { width: 125px; }

/* Sub Menu ------------------------------------------------------------------------- */
.subMenuRoot {
	position: absolute; top: 0px; left: 0px;	
}

.subMenu {
	position: absolute; top: 37px; left: -1px; z-index: 999;
	display: block; width: 3000px; height: auto;
	border-top: 4px solid #1d8ed5;
}

.subMenu .container {
	display: block; width: 47%; margin: 0px; padding: 0px; float: left;
	border-top: 1px solid #000;
	border-bottom: 1px solid #666;
	background: url(../img/imgSubMenu_BG.png) repeat-x top;
}

.subMenu .container .table .cell ul {
	display: block; float: left; list-style-type: none;
	margin: 0px; padding: 0px;
}

.subMenu .container .table .cell ul li {
	display: block; width: 160px;
	margin: 0px; padding: 0px;
}

.subMenu .container .table .cell ul .head {
	color: #FFF; font-size: 13px; text-indent: 8px;
	padding-bottom: 5px;
}

.subMenu .container .table {
	font-size: 11px;
	display: table; margin: 20px 0px 20px 0px; padding: 0px;
}

.subMenu .container .table .cell {
	display: table-cell; margin: 0px; padding: 0px 32px 0px 12px; vertical-align: top;
	border-left: 1px dotted #888;
}

.subMenu .container .table .cell ul li a:link, .subMenu .container .table .cell ul li a:active, .subMenu .container .table .cell ul li a:visited, .subMenu .container .table .cell ul li a:hover {
	color: #D8D8D8;
	display: block; height: 22px;
	margin: 0px; padding: 2px 8px 2px 8px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.subMenu .container .table .cell ul li a:hover {
	color: #FFF;
	background: #1d8ed5;
}

.subMenu .shade {
	display: block; width: 100%; height: 10px; margin: 0px; padding: 0px; float: left;
	background: url(../img/imgSubMenu_Shade.png) repeat-x top;
}
/* Tool Bar ---------------------------------------------------------------------- */
.toolBar {
	display: block; float: left;
	height: 36px; width: 100%;
	margin: 0px; padding: 0px;
	background: url(../img/imgToolBar_BGMid.png) no-repeat center;
}

.toolBar_L {
	font-size: 12px;
	display: block; float: left; line-height: 36px; color: #FFF; text-indent: 90px;
	width: 200px; height: 36px; padding: 0px;
	background: url(../img/imgToolBar_Icon.png) no-repeat 56px -306px;
}

.toolBar_R {
	display: block; float: right;
	width: 320px; height: 36px; padding: 0px;
}

.searchBox {
	font-size: 13px; color: #FFF; line-height: 22px; text-indent: 8px; float: left;
	display: block; width: 270px; height: 22px;
	margin: 3px 0px 0px 0px; padding: 3px;
	border: 1px solid #686868;
	background: #484848;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.searchBut:link, .searchBut:active, .searchBut:visited, .searchBut:hover {
	font-size: 13px; color: #FFF;  line-height: 34px; float: left;
	display: block; width: 28px; height: 28px;
	margin: 4px; padding: 0px;
	background: url(../img/imgMenuBar_Icon.png) no-repeat -3px -173px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.searchBut:hover {
	background: #333 url(../img/imgMenuBar_Icon.png) no-repeat -3px -173px;
}

.toolBar_M {
	display: block; float: right;
	width: 380px; height: 36px; padding: 0px; margin: 0px;
}

.toolBar_M ul {
	display: block; float: left; list-style-type: none;
	margin: 0px; padding: 0px;
}

.toolBar_M ul li {
	display: block; float: left;
	margin: 0px; padding: 0px;
}

.toolBar_M ul li a:link, .toolBar_M ul li a:active, .toolBar_M ul li a:visited, .toolBar_M ul li a:hover {
	font-size: 11px; color: #FFF;  line-height: 34px; text-indent: 9999px;
	display: block; width: 34px; height: 34px;
	margin: 1px 2px 1px 2px; padding: 0px;
	background-image: url(../img/imgToolBar_Icon.png);
	background-repeat: no-repeat;
}
.toolBar_M ul li a:hover {
	background-color: #4d4d4d;
	margin: 1px 1px 1px 1px;
	border-left: 1px solid #888888; border-right: 1px solid #888888;
}
.toolBar_M ul .tm1 a { background-position: 0px 0px; }
.toolBar_M ul .tm2 a { background-position: 0px -34px; }
.toolBar_M ul .tm3 a { background-position: 0px -68px; }
.toolBar_M ul .tm4 a { background-position: 0px -102px; }
.toolBar_M ul .tm5 a { background-position: 0px -136px; }
.toolBar_M ul .tm6 a { background-position: 0px -170px; }
.toolBar_M ul .tm7 a { background-position: 0px -204px; }
.toolBar_M ul .tm8 a { background-position: 0px -238px; }
.toolBar_M ul .tm9 a { background-position: 0px -272px; }

/* Map Viewer --------------------------------------------------------------- */
.mapFrame {
	border: none;
}

/* Panel Tool ------------------------------------------------------------------ */
.toolRoot {
	display: block; clear: both;
	padding: 10px 15px 15px 15px;
}

/* User Normal */
.toolRoot .head {
	display: block; float: left; clear: both; height: 30px; width: 100%; margin-bottom: 10px;
	background-repeat: no-repeat;
	background-position: left;
}
.toolHome .head { background-image: url(../img/imgToolHome_Header.png); }
.toolTrack .head { background-image: url(../img/imgToolTrack_Header.png); }
.toolHistory .head { background-image: url(../img/imgToolHistory_Header.png); }
.toolReport .head { background-image: url(../img/imgToolReport_Header.png); }
.toolMarker .head { background-image: url(../img/imgToolMark_Header.png); }
.toolSetting .head { background-image: url(../img/imgToolSetting_Header.png); }

/* News Box ------------------------------------------------------------------------------------ */
.newsBox {
	font-size: 12px;
	display: block; clear: both;
	padding: 0px;
	border-top: 1px solid #ffffff;
	color: #444444; margin-bottom: 10px;
}
.newsBox .newsBox_Head {
	display: block; clear: both; overflow: hidden; position: relative;
	padding: 0px; height: 32px;
	border-top: 1px solid #d4d4d4;
	border-bottom: 1px dotted #c6c6c8;
	background: #fafbfc;
}
.newsBox .newsBox_Head .newsBox_Title {
	display: block; float: left; height: 32px; line-height: 32px; text-indent: 30px;
	padding: 0px;
	background: url(../img/imgToolHome_NewsIcon.png) no-repeat 0px 0px;
}
.newsBox .newsBox_Head .newsBox_Time {
	display: block; position: absolute; right: 0px; top: 0px; height: 32px; line-height: 32px; text-indent: 30px;
	padding-right: 10px;
	background: url(../img/imgToolHome_NewsIcon.png) no-repeat 0px -32px;
}
.newsBox .newsBox_Content {
	display: block; clear: both;
	color: #555555;
	padding: 0px 5px 0px 5px;
}
.newsBox .newsBox_Writer {
	display: block; height: 32px; line-height: 32px; text-indent: 30px;
	padding: 0px;
	background: url(../img/imgToolHome_NewsIcon.png) no-repeat 0px -64px;
}

/* Tracking ------------------------------------------------------------------------ */
.trackGroupBox {
	display: block; clear: both;
	padding: 0px; height: 32px;
}
.trackGroupBox .trackGroupBox_Label {
	display: block; float: left; height: 32px; line-height: 32px; text-indent: 34px;
	padding: 0px 10px 0px 0px;
	background: url(../img/imgToolTrack_Icons.png) no-repeat 0px 0px;
}
.trackGroupBox .trackGroupBox_Drop {
	display: block; float: left; height: 32px; line-height: 32px; position: relative; width: 220px;
	padding: 0px; margin-right: 10px; overflow: hidden;
}
.trackGroupBox .trackGroupBox_Drop select {
	font-family: Tahoma, Arial, Microsoft Sans Serif; color: #333;
	font-size: 11px; line-height: 1px; outline: none; height: 28px;
	display: block; width: 242px;
	padding: 5px; margin: 2px 0px 2px 0px; border: none;
	background: url(../img/imgToolTrack_SelectFormBG.png) no-repeat;
	cursor: pointer;
}

.trackTableOuter {
	border: 0px solid #FFF;
}
.trackTable {
	display: table; width: 100%; min-width: 500px;
	border-collapse: collapse;
}
.trackTable .trackTable_Head{
	display: table-row; color: #FFF;
	background: #66727a;
}
.trackTable .trackTable_Head .trackTable_Cell{
	display: table-cell; padding: 0px; text-indent: 4px; overflow: hidden;
	height: 32px; line-height: 32px; font-size: 11px;
	border: 1px solid #7b878f;
}
.trackTable .trackTable_Row{
	display: table-row;
	color: #333; background: #f0f0f2;
}
.trackTable .trackTable_Row .trackTable_Cell{
	display: table-cell; padding: 0px; text-indent: 4px; overflow: hidden;
	height: 28px; line-height: 28px;
	border: 1px solid #7b878f;
}
.trackTable .col1{ width: 25px; }
.trackTable .col2{ width: 52px; }
.trackTable .col3{ width: auto; }
.trackTable .col4{ width: 50px; }
.trackTable .col5{ width: 40px; }
.trackTable .col6{ width: 40px; }
.trackTable .col7{ width: 45px; }
.trackTable .col8{ width: 40px; }
.trackTable .col9{ width: 45px; }

/* History ------------------------------------------------------------------------ */
.histoGroupBox {
	display: block; clear: both;
	padding: 0px; height: 32px;
}
.histoGroupBox .histoGroupBox_Label {
	display: block; float: left; height: 32px; line-height: 32px; width: 110px; text-align: right;
	padding: 0px 5px 0px 0px;
}
.histoGroupBox .histoGroupBox_Drop {
	display: block; float: left; height: 32px; line-height: 32px; position: relative; width: 220px;
	padding: 0px; margin-right: 10px; overflow: hidden;
}
.histoGroupBox .histoGroupBox_Drop select {
	font-family: Tahoma, Arial, Microsoft Sans Serif; color: #333; overflow: hidden;
	font-size: 11px; line-height: 1px; outline: none; height: 28px;
	display: block; width: 242px;
	padding: 5px; margin: 2px 0px 2px 0px; border: none;
	background: url(../img/imgToolTrack_SelectFormBG.png) no-repeat;
	cursor: pointer;
}
.histoGroupBox .histoGroupBox_Label .Date, .histoGroupBox .histoGroupBox_Label .Time {
	font-family: Tahoma, Arial, Microsoft Sans Serif; color: #333; overflow: hidden;
	font-size: 11px; line-height: 26px; outline: none; height: 24px;
	display: block;
	padding: 0px 5px 0px 5px; margin: 4px 0px 4px 0px; border: 1px solid #c7c7c7;
	background: #FFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.histoGroupBox .histoGroupBox_Label .Date { width: 100px; }
.histoGroupBox .histoGroupBox_Label .Time { width: 62px; }
.histoGroupBox_But {
	font-family: Tahoma, Arial, Microsoft Sans Serif; color: #333;
	margin: 5px 0px 0px 261px; outline: none;
	border: none; cursor: pointer;
	width: 74px; height: 28px;
	background: url(../img/imgToolTrack_ButFormBG.png) no-repeat;
}

.trackTable .his1{ width: 60px; }
.trackTable .his2{ width: auto; }
.trackTable .his3{ width: 50px; }
.trackTable .his4{ width: 50px; }
.trackTable .his5{ width: 50px; }
.trackTable .his6{ width: 50px; }

/* Report ----------------------------------------------------------------------------------------- */
.trackTable .rep1{ width: 80px; }
.trackTable .rep2{ width: 60px; }
.trackTable .rep3{ width: 90px; }
.trackTable .rep4{ width: 50px; }
.trackTable .rep5{ width: auto; }